:root {
  color-scheme: dark;
}

body {

  /*background-image: url("../images/bgd3.png");*/
  
  /* Image is centered vertically and horizontally at all times */
  /*background-position: center center;*/
  
  /* Image doesn't repeat */
  /*background-repeat: no-repeat;*/
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  /*background-attachment: fixed;*/
  
  /* This is what makes the background image rescale based on its container's size */
  /*background-size: cover;*/
  background-color: #1b2845;
background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);

}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    /*background-image: url("../images/bgd2-mobile.png");*/
  }
  }
/*.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation, .swal-overlay {
    background: #344a5f !important;
}*/
.swal2-popup, .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix {
background-color: #344a5f !important;

}
.swal2-title, .swal2-html-container {
    color: white !important;
}
.swal2-styled.swal2-confirm {
    background-color: #FFB703 !important;
}

input[type="radio"]:checked + .labelRadio{
  transform: scale(1.25);
  border-radius: 50%;
   /*border: 2px solid white;*/
   border: 2px solid #344a5f;
  box-shadow: 0 0 0 2px white;
 
}
.btn-light.active {
  background-color:white !important;
  color: #344a5f !important;
}
.btn-light, p, h1,h2,h4,h5 {
  color: white !important;
}
.btn-light:hover {
  color: #344a5f !important;
}
.changeFilter, .labelRadio span {
  filter: saturate(120%);
  filter: brightness(1.15);
}
.navHead {
  color: #fff;
}

#dark-mode-toggle-2 {
  /*filter: invert(100%);*/
  /*filter: sepia(1);*/
  filter: invert(71%) sepia(96%) saturate(1554%) hue-rotate(354deg) brightness(102%) contrast(103%);
}

a, strong {
  color: #FFB703;
}


#bodyDark,
.cardPosts,
.card {
  background-color: #263748;
  color: white;
}
.card-header {
  /*background-color: #283d51 !important;*/
  background-color: #293f54 !important;
  
}
.card-footer {
  /*background-color: #4e6982 !important;*/
    background-color: #293f54  !important;
     /*background-color: #1f76aa !important;*/
    
  
}



/*.message {

  margin-bottom: 75px !important;


}*/

.shadow,
.shadow-sm,
.shadow-lg {
  box-shadow: 0 0rem 0rem rgb(0 0 0 / 0%) !important;
}
.noResults {
 background-color: transparent !important;
}
.navbar,
.navbar-light,
.navbar-brand,
.navbar-nav,
.nav-link {
  background-color: #263748 !important;
  color: white !important;


}
.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5) !important;
    border-color: rgba(255,255,255,.1) !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;;
}

.noResults {
  color: white;
}

.card-header h5,
.card-header p {
  color: white !important;
}

::-webkit-scrollbar-track {
  background-color: #213453;
}

::-webkit-scrollbar {
  width: 14px;
  height: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #FFB703;
}


textarea::-webkit-scrollbar-track {
  background-color: white !important;
}

textarea::-webkit-scrollbar {
  width: 14px;
  height: 50px;
  background-color: white !important;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #33405c !important;
}


#text2 {
  color: #FFB703 !important;
  
}
#footer {
  background-color: #30578c;
}

