:root {
  color-scheme: light;
  /* stylelint-disable-line property-no-unknown */

  --background-color: rgb(15 15 15);
  --text-color: rgb(240 240 240);
  --shadow-color: rgb(240 240 240 / 50%);
  --accent-color: rgb(0 0 240 / 50%);
}

body {
  /*background-image: url("../images/bgd2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
   /*background-color:#464646;*/
  /*background: url("../images/bgd2.png") center center cover no-repeat fixed !important;*/

  background-image: url("../images/bgl.png");
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url("../images/bgl-mobile.png");
  }
  }

.navHead {
  color: #183153;
}

.dark-scheme {
  background: #333;
  color: white;
}

a {
  color: white;
}

#bodyDark {
  /*filter: saturate(95%);*/
}

.card-header h5,
.card-header p {
  color: black !important;
}